<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">                            
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #ConsultaForm="ngForm" (submit)="consultar()">
        
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome Cliente:</label>
                <input type="text"  class="form-control" name="nome" id="inputNome" [(ngModel)]="nome"/>
            </div>
            <div class="col-md-6">
                <label for="inputMes">Mês:</label>
                <select class="form-control" name="mes" [(ngModel)]="mes">
                    <option value="">Selecione...</option>
                    <option *ngFor="let mes of meses" [ngValue]="mes">
                        {{mes}}
                    </option>
                </select>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>
                <button class="btn btn-warning ml-1" (click)="novoServico()">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="mesagem" class="alert alert-warning" role="alert">
                    {{mesagem}}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="tabelaConteudo">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Data de Cadastro</th>
                            <th>Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servico of lista">
                            <th>{{ servico.descricao }}</th>
                            <th>{{ servico.valor | currency: 'BRL' }}</th>
                            <th>{{ servico.data }}</th>
                            <th>{{ servico.cliente.nome }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
